<div id="beerHolder">
  <div id="beerLiquid" v-bind:style="{height: beerHeight}">
  </div>

  <div id="beerScore">
    <!-- {{topBeers}} -->

    <div v-for="bi in topBeers" class="highScore">
      <div>{{ realName }}: {{bi.amount}}</div>
    </div>

  </div>
</div>
